{# Template Generates Form Group TEXT input type #}
{% set divClass = ['col-sm-11'] %}

{# Form Label #}
{% if data['label'] is defined %}
<label for='{{ groupID }}'{{ attr('labelClass', data, ['col-sm-1', 'control-label'], 'class') }}>{{ data['label']|default('')|raw }}</label>

{% else %}

{# If label is not present, Offset divClass by 1 #}
{% set divClass = ['col-sm-11', 'col-sm-offset-1'] %}

{% endif %}

{# Form Input #}
<div {{ attr('divClass', data, divClass, 'class') }}>
	
	<textarea type={{ data['type']|default('text') }} 
 	       {{ attr('class', data, ['form-control']) }}
 	       {{ attr('id',    data) }}
 	       {{ attr('name',  data) }}
 	       {{ attr('value', data) }}
 	       {{ attr('placeholder', data) }}
 	       {{ prop('disabled', data) }}>
 	       
 	 </textarea>

</div>